In [166]:
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

from IPython.display import display_html

### Motivation: 
>  The probability of *x companies* be our next client

In [167]:
# Read dataset
pf1 = pd.read_csv("dataset/estaticos_portfolio1.csv")
pf2 = pd.read_csv("dataset/estaticos_portfolio2.csv")
pf3 = pd.read_csv("dataset/estaticos_portfolio3.csv")
market = pd.read_csv("dataset/estaticos_market/estaticos_market.csv")

In [168]:
# Check portfolios shape
print(f"""
    Portfolio 1 shape {pf1.shape}
    Portfolio 2 shape {pf2.shape}
    Portfolio 3 shape {pf3.shape}
    Mercado shape {market.shape}
    """)

    Portfolio 1 shape (555, 182)
    Portfolio 2 shape (566, 2)
    Portfolio 3 shape (265, 2)
    Mercado shape (462298, 182)

In [169]:
pf1.head(3)

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [170]:
# Overiding jupyter style to plot dataframes side by side
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)

display_side_by_side(pf2.head(5), pf2.head(5))

,Unnamed: 0,id
0,0,09e95c1a84049001d086470a8f320a19b076f955a89122...
1,1,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...
2,2,16843c9ffb920170477118933798510d8d5f00f5c56c12...
3,3,ff045934d90aab184dd15e66daf3b3c97193bda5449298...
4,4,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...
,Unnamed: 0,id
0,0,09e95c1a84049001d086470a8f320a19b076f955a89122...
1,1,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...
2,2,16843c9ffb920170477118933798510d8d5f00f5c56c12...
3,3,ff045934d90aab184dd15e66daf3b3c97193bda5449298...
4,4,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...

In [171]:
market.head(5)

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÃ‡ÃƒO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÃ‡O,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÃ‡O,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÃ‡O,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÃ‡O,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [172]:
# Check if portfolio 1 have same columns
(market.columns == pf1.columns).all()

True

# Handle missing data
Let's find out how messy are our datasets

In [173]:
# Function to check missing data
def missing_data(dataframe):
    missing = pd.DataFrame({'dtype': dataframe.dtypes,
                            'unique vals': dataframe.nunique(),
                            'missing%': (dataframe.isna().sum() / dataframe.shape[0]) * 100})
    # Get columns with missing% greater than 0
    missing = missing[missing['missing%'] > 0]

    # Columns name with missing% greater than 60%
    cols_missing_60 = list(missing[missing['missing%'] > 60].index)
    
    return missing, cols_missing_60

# Function to drop columns
def drop_columns(dataframe, columns_list):
    dataframe = dataframe.drop(columns_list, axis='columns')
    return dataframe

In [174]:
# Dataframe with missing info
pf1_missing, pf1_cols60 = missing_data(pf1)
pf2_missing, pf2_cols60= missing_data(pf2)
pf3_missing, pf3_cols60 = missing_data(pf3)
market_missing, market_cols60 = missing_data(market)

In [175]:
# Check missing data in Portfolio 2 and Portfolio 3
display_side_by_side(
        pf2_missing.sort_values(by='missing%', ascending=False), 
        pf3_missing.sort_values(by='missing%', ascending=False)
)

,dtype,unique vals,missing%
,dtype,unique vals,missing%

In [176]:
# Check missing data in Portfolio 1 and Market
display_side_by_side(
        pf1_missing.sort_values(by='missing%', ascending=False), 
        market_missing.sort_values(by='missing%', ascending=False)
)

,dtype,unique vals,missing%
vl_total_tancagem,float64,0,100.000000
vl_total_veiculos_antt_grupo,float64,0,100.000000
qt_alteracao_socio_180d,float64,0,100.000000
qt_alteracao_socio_365d,float64,0,100.000000
qt_alteracao_socio_total,float64,0,100.000000
coligada_mais_nova_baixada,float64,0,100.000000
qt_alteracao_socio_90d,float64,0,100.000000
vl_total_tancagem_grupo,float64,0,100.000000
coligada_mais_antiga_baixada,float64,0,100.000000
grau_instrucao_macro_desconhecido,float64,0,100.000000
idade_media_coligadas_baixadas,float64,0,100.000000
vl_total_veiculos_antt,float64,0,100.000000
grau_instrucao_macro_analfabeto,float64,1,99.819820
vl_idade_minima_socios_pj,float64,2,99.639640
vl_idade_media_socios_pj,float64,2,99.639640
qt_socios_pj_suspensos,float64,1,99.639640
qt_socios_pj_baixados,float64,1,99.639640
qt_socios_pj_nulos,float64,1,99.639640
qt_socios_pj_ativos,float64,2,99.639640
vl_idade_maxima_socios_pj,float64,2,99.639640
qt_socios_pj_inaptos,float64,1,99.639640
vl_potenc_cons_oleo_gas,float64,3,99.459459
qt_art,float64,3,99.279279
idade_ate_18,float64,1,99.279279
qt_socios_pep,float64,2,99.279279
qt_socios_st_suspensa,float64,1,98.738739
idade_de_54_a_58,float64,2,97.477477
total_filiais_coligados,float64,11,97.297297
max_filiais_coligados,float64,9,97.297297
idade_acima_de_58,float64,3,97.297297
media_filiais_coligados,float64,10,97.297297
min_filiais_coligados,float64,8,97.297297
idade_de_44_a_48,float64,4,96.216216
idade_de_49_a_53,float64,4,96.036036
grau_instrucao_macro_escolaridade_superior,float64,4,95.855856
grau_instrucao_macro_escolaridade_fundamental,float64,7,95.495495
vl_frota,float64,31,94.414414
idade_de_39_a_43,float64,8,94.234234
idade_de_19_a_23,float64,6,94.054054
min_vl_folha_coligados,float64,20,93.333333
vl_folha_coligados_gp,float64,27,93.333333
media_vl_folha_coligados_gp,float64,27,93.333333
max_vl_folha_coligados_gp,float64,25,93.333333
min_vl_folha_coligados_gp,float64,21,93.333333
vl_folha_coligados,float64,27,93.333333
max_vl_folha_coligados,float64,25,93.333333
media_vl_folha_coligados,float64,27,93.333333
vl_total_veiculos_leves,float64,5,93.153153
vl_total_veiculos_pesados,float64,5,93.153153
idade_de_34_a_38,float64,7,92.432432
idade_de_29_a_33,float64,9,92.252252
min_funcionarios_coligados_gp,float64,16,91.711712
max_funcionarios_coligados_gp,float64,22,91.711712
media_funcionarios_coligados_gp,float64,24,91.711712
qt_funcionarios_coligados_gp,float64,23,91.711712
idade_de_24_a_28,float64,8,91.711712
qt_funcionarios_coligados,float64,24,91.711712
sum_faturamento_estimado_coligadas,float64,31,91.171171
qt_coligadas,float64,7,90.990991
de_indicador_telefone,object,1,90.270270
idade_media_coligadas_ativas,float64,61,88.828829
media_faturamento_est_coligados_gp,float64,39,88.828829
coligada_mais_antiga_ativa,float64,61,88.828829
max_faturamento_est_coligados_gp,float64,34,88.828829
min_faturamento_est_coligados_gp,float64,22,88.828829
faturamento_est_coligados_gp,float64,42,88.828829
coligada_mais_nova_ativa,float64,61,88.828829
faturamento_est_coligados,float64,41,88.828829
media_faturamento_est_coligados,float64,36,88.828829
max_faturamento_est_coligados,float64,29,88.828829
min_faturamento_est_coligados,float64,21,88.828829
qt_coligados_atividade_medio,float64,1,88.648649
qt_coligados_atividade_baixo,float64,1,88.648649
qt_coligados_ccivil,float64,3,88.648649
qt_coligados_atividade_mt_baixo,float64,1,88.648649
qt_coligados_atividade_inativo,float64,1,88.648649
qt_coligados_atividade_alto,float64,1,88.648649
qt_coligados_comercio,float64,10,88.648649
qt_coligados_serviÃ§o,float64,6,88.648649
qt_coligados_me,float64,1,88.648649
qt_coligados_agropecuaria,float64,2,88.648649
qt_coligados,float64,10,88.648649
qt_socios_coligados,float64,12,88.648649
qt_coligados_matriz,float64,10,88.648649
qt_coligados_baixada,float64,1,88.648649
qt_coligados_inapta,float64,2,88.648649
qt_coligados_suspensa,float64,1,88.648649
qt_coligados_nula,float64,1,88.648649
idade_media_coligadas,float64,62,88.648649
idade_maxima_coligadas,float64,62,88.648649
idade_minima_coligadas,float64,62,88.648649
qt_coligados_sa,float64,2,88.648649
qt_coligados_ativo,float64,12,88.648649
qt_coligados_mei,float64,1,88.648649
qt_coligados_sudeste,float64,4,88.648649
qt_coligados_ltda,float64,2,88.648649
qt_ramos_coligados,float64,7,88.648649
qt_regioes_coligados,float64,3,88.648649
qt_ufs_coligados,float64,5,88.648649
qt_coligados_exterior,float64,1,88.648649
qt_coligados_industria,float64,3,88.648649
qt_coligados_centro,float64,2,88.648649
qt_coligados_nordeste,float64,11,88.648649
qt_coligados_sul,float64,1,88.648649
qt_coligados_norte,float64,7,88.648649
qt_coligados_epp,float64,1,88.648649
grau_instrucao_macro_escolaridade_media,float64,17,84.504505
tx_crescimento_24meses,float64,30,83.603604
tx_crescimento_12meses,float64,25,82.522523
media_meses_servicos,float64,96,81.801802
percent_func_genero_fem,float64,30,81.801802
percent_func_genero_masc,float64,30,81.801802
total,float64,20,81.801802
max_meses_servicos,float64,86,81.801802
min_meses_servicos,float64,78,81.801802
min_meses_servicos_all,float64,100,76.396396
qt_funcionarios,float64,21,76.396396
qt_funcionarios_24meses,float64,23,76.396396
max_meses_servicos_all,float64,119,76.396396
media_meses_servicos_all,float64,130,76.396396
qt_admitidos,float64,40,76.396396
qt_desligados,float64,34,76.396396
qt_desligados_12meses,float64,11,76.396396
qt_admitidos_12meses,float64,11,76.396396
meses_ultima_contratacaco,float64,102,76.396396
qt_funcionarios_12meses,float64,22,76.396396
tx_rotatividade,float64,26,76.396396
qt_ex_funcionarios,float64,34,73.693694
qt_funcionarios_grupo,float64,33,73.693694
qt_socios_feminino,float64,2,65.765766
qt_socios_masculino,float64,4,64.324324
qt_socios_st_regular,float64,5,35.135135
idade_maxima_socios,float64,62,34.774775
idade_minima_socios,float64,59,34.774775
idade_media_socios,float64,80,34.774775
empsetorcensitariofaixarendapopulacao,float64,391,27.027027
qt_socios,float64,6,26.486486
qt_socios_pf,float64,6,26.486486
qt_socios_pj,float64,3,26.486486
fl_optante_simples,object,2,18.198198
fl_optante_simei,object,2,18.198198
nm_micro_regiao,object,66,11.531532
nm_meso_regiao,object,19,11.531532
nu_meses_rescencia,float64,23,8.468468
vl_faturamento_estimado_grupo_aux,float64,66,4.504505
vl_faturamento_estimado_aux,float64,41,4.504505
de_faixa_faturamento_estimado_grupo,object,9,4.504505
de_faixa_faturamento_estimado,object,7,4.504505
de_saude_rescencia,object,3,1.981982
de_saude_tributaria,object,6,1.981982
de_nivel_atividade,object,4,0.720721
,dtype,unique vals,missing%
qt_alteracao_socio_365d,float64,0,100.000000
qt_alteracao_socio_90d,float64,0,100.000000
qt_alteracao_socio_total,float64,0,100.000000
grau_instrucao_macro_desconhecido,float64,0,100.000000
qt_alteracao_socio_180d,float64,0,100.000000
idade_media_coligadas_baixadas,float64,48,99.970582
coligada_mais_antiga_baixada,float64,46,99.970582
coligada_mais_nova_baixada,float64,46,99.970582
vl_total_veiculos_antt,float64,20,99.961929
vl_total_tancagem,float64,33,99.939433
vl_total_veiculos_antt_grupo,float64,31,99.927320
vl_total_tancagem_grupo,float64,106,99.619293
grau_instrucao_macro_analfabeto,float64,34,99.592471
idade_ate_18,float64,33,99.371401
qt_socios_st_suspensa,float64,4,99.296774
vl_potenc_cons_oleo_gas,float64,155,99.203328
qt_socios_pj_baixados,float64,3,99.017084
qt_socios_pj_suspensos,float64,3,99.017084
qt_socios_pj_nulos,float64,2,99.017084
qt_socios_pj_ativos,float64,11,99.017084
qt_socios_pj_inaptos,float64,5,99.017084
vl_idade_media_socios_pj,float64,2192,99.017084
vl_idade_maxima_socios_pj,float64,1944,99.017084
vl_idade_minima_socios_pj,float64,1952,99.017084
qt_art,float64,120,98.574513
qt_socios_pep,float64,31,98.541417
idade_acima_de_58,float64,176,97.614958
idade_de_54_a_58,float64,164,96.977058
idade_de_49_a_53,float64,191,95.882093
total_filiais_coligados,float64,368,95.587262
media_filiais_coligados,float64,755,95.587262
max_filiais_coligados,float64,180,95.587262
min_filiais_coligados,float64,80,95.587262
grau_instrucao_macro_escolaridade_superior,float64,346,95.083907
vl_frota,float64,13833,94.767444
idade_de_44_a_48,float64,209,94.745813
grau_instrucao_macro_escolaridade_fundamental,float64,281,94.614729
idade_de_19_a_23,float64,133,94.399716
idade_de_39_a_43,float64,243,93.422424
vl_total_veiculos_leves,float64,121,93.362723
vl_total_veiculos_pesados,float64,103,93.362723
min_vl_folha_coligados,float64,704,92.144894
max_vl_folha_coligados,float64,1565,92.144894
media_vl_folha_coligados,float64,7528,92.144894
vl_folha_coligados,float64,6680,92.144894
vl_folha_coligados_gp,float64,7219,92.096656
media_vl_folha_coligados_gp,float64,7913,92.096656
max_vl_folha_coligados_gp,float64,1898,92.096656
min_vl_folha_coligados_gp,float64,811,92.096656
idade_de_34_a_38,float64,258,92.055125
idade_de_24_a_28,float64,186,91.586596
idade_de_29_a_33,float64,240,91.316640
qt_funcionarios_coligados_gp,float64,1917,90.849409
min_funcionarios_coligados_gp,float64,393,90.849409
max_funcionarios_coligados_gp,float64,1116,90.849409
media_funcionarios_coligados_gp,float64,3388,90.849409
qt_funcionarios_coligados,float64,1453,90.849409
de_indicador_telefone,object,2,90.505475
sum_faturamento_estimado_coligadas,float64,8828,89.283103
qt_coligadas,float64,116,89.134498
media_faturamento_est_coligados,float64,12108,86.042985
faturamento_est_coligados_gp,float64,13144,86.042985
media_faturamento_est_coligados_gp,float64,13919,86.042985
max_faturamento_est_coligados_gp,float64,4343,86.042985
min_faturamento_est_coligados_gp,float64,1341,86.042985
max_faturamento_est_coligados,float64,2296,86.042985
faturamento_est_coligados,float64,11621,86.042985
min_faturamento_est_coligados,float64,722,86.042985
coligada_mais_antiga_ativa,float64,10749,85.908007
idade_media_coligadas_ativas,float64,27923,85.908007
coligada_mais_nova_ativa,float64,8583,85.908007
qt_coligados_ccivil,float64,105,85.855228
qt_coligados_serviÃ§o,float64,110,85.855228
qt_coligados_comercio,float64,56,85.855228
qt_coligados_agropecuaria,float64,21,85.855228
qt_coligados_exterior,float64,6,85.855228
qt_ramos_coligados,float64,45,85.855228
qt_coligados_atividade_alto,float64,1,85.855228
qt_coligados_atividade_medio,float64,1,85.855228
qt_coligados_atividade_baixo,float64,1,85.855228
qt_coligados_atividade_mt_baixo,float64,1,85.855228
qt_coligados_atividade_inativo,float64,1,85.855228
qt_coligados_industria,float64,57,85.855228
idade_maxima_coligadas,float64,10760,85.855228
qt_regioes_coligados,float64,7,85.855228
idade_minima_coligadas,float64,8584,85.855228
qt_coligados,float64,168,85.855228
qt_ufs_coligados,float64,26,85.855228
qt_coligados_matriz,float64,169,85.855228
qt_coligados_ativo,float64,171,85.855228
qt_coligados_baixada,float64,6,85.855228
qt_coligados_inapta,float64,12,85.855228
qt_coligados_suspensa,float64,2,85.855228
qt_coligados_nula,float64,1,85.855228
idade_media_coligadas,float64,28060,85.855228
qt_socios_coligados,float64,273,85.855228
qt_coligados_sa,float64,65,85.855228
qt_coligados_me,float64,6,85.855228
qt_coligados_mei,float64,6,85.855228
qt_coligados_ltda,float64,21,85.855228
qt_coligados_epp,float64,5,85.855228
qt_coligados_norte,float64,55,85.855228
qt_coligados_sul,float64,38,85.855228
qt_coligados_nordeste,float64,80,85.855228
qt_coligados_centro,float64,42,85.855228
qt_coligados_sudeste,float64,146,85.855228
grau_instrucao_macro_escolaridade_media,float64,513,85.334784
tx_crescimento_12meses,float64,2237,84.017236
tx_crescimento_24meses,float64,3388,83.989980
percent_func_genero_masc,float64,2391,83.572933
percent_func_genero_fem,float64,2391,83.572933
total,float64,709,83.572933
media_meses_servicos,float64,37029,83.503930
max_meses_servicos,float64,5484,83.503930
min_meses_servicos,float64,3003,83.503930
media_meses_servicos_all,float64,61515,77.598865
max_meses_servicos_all,float64,7194,77.598865
min_meses_servicos_all,float64,3015,77.598865
qt_admitidos_12meses,float64,258,77.595836
qt_desligados,float64,1082,77.595836
qt_admitidos,float64,1332,77.595836
qt_funcionarios,float64,712,77.595836
qt_funcionarios_12meses,float64,713,77.595836
qt_funcionarios_24meses,float64,762,77.595836
meses_ultima_contratacaco,float64,3657,77.595836
qt_desligados_12meses,float64,227,77.595836
tx_rotatividade,float64,2548,77.595836
qt_ex_funcionarios,float64,1092,75.069328
qt_funcionarios_grupo,float64,1456,75.067381
qt_socios_feminino,float64,33,68.628677
qt_socios_masculino,float64,41,57.794539
qt_socios_st_regular,float64,54,33.510203
idade_minima_socios,float64,114,32.793133
idade_maxima_socios,float64,118,32.793133
idade_media_socios,float64,1010,32.793133
empsetorcensitariofaixarendapopulacao,float64,15419,31.111750
qt_socios,float64,62,24.895414
qt_socios_pj,float64,12,24.895414
qt_socios_pf,float64,64,24.895414
fl_optante_simples,object,2,17.891706
fl_optante_simei,object,2,17.891706
nm_micro_regiao,object,73,12.697005
nm_meso_regiao,object,19,12.697005
nu_meses_rescencia,float64,51,9.793683
vl_faturamento_estimado_aux,float64,1920,5.951356
de_faixa_faturamento_estimado,object,12,5.951356
de_faixa_faturamento_estimado_grupo,object,11,5.951356
vl_faturamento_estimado_grupo_aux,float64,6794,5.951356
de_saude_rescencia,object,5,3.212430
de_saude_tributaria,object,6,3.212430
de_nivel_atividade,object,4,2.415758
sg_uf_matriz,object,27,0.419426
fl_veiculo,object,2,0.416831
nm_divisao,object,87,0.416831
nm_segmento,object,21,0.416831
fl_spa,object,2,0.416831
fl_antt,object,2,0.416831
fl_passivel_iss,object,2,0.416831
vl_total_veiculos_pesados_grupo,float64,296,0.416831
vl_total_veiculos_leves_grupo,float64,310,0.416831
fl_simples_irregular,object,2,0.416831
setor,object,5,0.416831
dt_situacao,object,7334,0.001298

In [177]:
# Amount of features with missing data > 0 
print(f"Missing Portfolio 1 shape {pf1_missing.shape}, and Missing Market shape {market_missing.shape}")

Missing Portfolio 1 shape (151, 3), and Missing Market shape (163, 3)

Both Portfolio and Market missing dataframes shows that we have diiferent amount of missing data on features. However, both have columns with empty info.

Features with more than 30% of missing data doesn't add much value. However, I will drop features with missing data greater than 60%. After it, I will look closely to features and evaluate if they aggregate meaning to model.

In [178]:
# Drop columns with missing data greater than 60%
pf1 = pf1.drop(pf1_cols60, axis='columns')
market = market.drop(market_cols60, axis='columns')

# Check amount of columns in each dataframe
print(f"""
    pf1 cols with 0 to 60% of missing data: {pf1.shape[1]}, 
    market cols 0 to 60% of missing data: {market.shape[1]}
    """)

    pf1 cols with 0 to 60% of missing data: 51,
    market cols 0 to 60% of missing data: 52

In [179]:
# Check missing data < 60%
display_side_by_side(
        pf1_missing[pf1_missing['missing%'] < 60].sort_values(by='missing%', ascending=False),
        market_missing[market_missing['missing%'] < 60].sort_values(by='missing%', ascending=False)
)

,dtype,unique vals,missing%
qt_socios_st_regular,float64,5,35.135135
idade_minima_socios,float64,59,34.774775
idade_maxima_socios,float64,62,34.774775
idade_media_socios,float64,80,34.774775
empsetorcensitariofaixarendapopulacao,float64,391,27.027027
qt_socios_pf,float64,6,26.486486
qt_socios,float64,6,26.486486
qt_socios_pj,float64,3,26.486486
fl_optante_simei,object,2,18.198198
fl_optante_simples,object,2,18.198198
nm_micro_regiao,object,66,11.531532
nm_meso_regiao,object,19,11.531532
nu_meses_rescencia,float64,23,8.468468
de_faixa_faturamento_estimado,object,7,4.504505
de_faixa_faturamento_estimado_grupo,object,9,4.504505
vl_faturamento_estimado_aux,float64,41,4.504505
vl_faturamento_estimado_grupo_aux,float64,66,4.504505
de_saude_rescencia,object,3,1.981982
de_saude_tributaria,object,6,1.981982
de_nivel_atividade,object,4,0.720721
,dtype,unique vals,missing%
qt_socios_masculino,float64,41,57.794539
qt_socios_st_regular,float64,54,33.510203
idade_minima_socios,float64,114,32.793133
idade_maxima_socios,float64,118,32.793133
idade_media_socios,float64,1010,32.793133
empsetorcensitariofaixarendapopulacao,float64,15419,31.111750
qt_socios,float64,62,24.895414
qt_socios_pj,float64,12,24.895414
qt_socios_pf,float64,64,24.895414
fl_optante_simples,object,2,17.891706
fl_optante_simei,object,2,17.891706
nm_micro_regiao,object,73,12.697005
nm_meso_regiao,object,19,12.697005
nu_meses_rescencia,float64,51,9.793683
vl_faturamento_estimado_grupo_aux,float64,6794,5.951356
de_faixa_faturamento_estimado,object,12,5.951356
de_faixa_faturamento_estimado_grupo,object,11,5.951356
vl_faturamento_estimado_aux,float64,1920,5.951356
de_saude_rescencia,object,5,3.212430
de_saude_tributaria,object,6,3.212430
de_nivel_atividade,object,4,2.415758
sg_uf_matriz,object,27,0.419426
setor,object,5,0.416831
fl_passivel_iss,object,2,0.416831
vl_total_veiculos_leves_grupo,float64,310,0.416831
vl_total_veiculos_pesados_grupo,float64,296,0.416831
fl_veiculo,object,2,0.416831
fl_antt,object,2,0.416831
fl_spa,object,2,0.416831
nm_segmento,object,21,0.416831
nm_divisao,object,87,0.416831
fl_simples_irregular,object,2,0.416831
dt_situacao,object,7334,0.001298

In [180]:
# Check amount of unmatch columns
diff = set(market_missing.index.tolist()) - set(pf1_missing.index.to_list())
print(f"Cols in market that not exist in Portfolio 1: \n {diff} \n")

# Let's take a look on df
market_missing.loc[diff, :]

Cols in market that not exist in Portfolio 1:
 {'nm_segmento', 'dt_situacao', 'sg_uf_matriz', 'vl_total_veiculos_leves_grupo', 'setor', 'fl_veiculo', 'vl_total_veiculos_pesados_grupo', 'nm_divisao', 'fl_spa', 'fl_simples_irregular', 'fl_antt', 'fl_passivel_iss'}

                                   dtype  unique vals  missing%
nm_segmento                       object           21  0.416831
dt_situacao                       object         7334  0.001298
sg_uf_matriz                      object           27  0.419426
vl_total_veiculos_leves_grupo    float64          310  0.416831
setor                             object            5  0.416831
fl_veiculo                        object            2  0.416831
vl_total_veiculos_pesados_grupo  float64          296  0.416831
nm_divisao                        object           87  0.416831
fl_spa                            object            2  0.416831
fl_simples_irregular              object            2  0.416831
fl_antt                           object            2  0.416831
fl_passivel_iss                   object            2  0.416831

## Feature analyses
### 1st step...
To build a useful and decent machine learning model we need to understand the bussiness problem, and consequently what each feature describe. Since we removed features with *high amount of missing data* (maybe we have to remove more), let's understand them.

*   **identifier**:
>   id 

_______
### Business description
*  **sector**: 
>   (de_natureza_juridica, natureza_juridica_macro), (de_ramo, setor, nm_segmento), de_nivel_atividade, nm_divisao, 'natureza_juridica_macro'
*   **age**: 
>   idade_emp_cat, idade_empresa_anos

*  **location**: 
>   sg_uf, nm_meso_regiao, nm_micro_regiao, sg_uf_matriz, fl_rm

*  **assets (inventory)**: 
>   fl_veiculo, vl_total_veiculos_pesados_grupo, vl_total_veiculos_leves_grupo, qt_filiais

_______
### Finnances 

*   **tax**: 
>   fl_optante_simples, fl_optante_simei, fl_simples_irregular, fl_passivel_iss

*   **metrics to measure financial health**:
>   de_saude_tributaria, de_saude_rescencia, nu_meses_rescencia, de_nivel_atividade

*   **revenue**:
>   vl_faturamento_estimado_aux, de_faixa_faturamento_estimado, de_faixa_faturamento_estimado_grupo, vl_faturamento_estimado_grupo_aux

*   **shareholders description**: 
>   'qt_socios', 'qt_socios_pf', 'qt_socios_pj', 'idade_media_socios', 'idade_maxima_socios', 'idade_minima_socios', qt_socios_masculino, qt_socios_feminino, 'qt_socios_st_regular', qt_socios_masculino

_______
### Government data (purchasing power)
>   empsetorcensitariofaixarendapopulacao

_______
*   **Name description**: 
>   'fl_me', 'fl_mei', 'fl_sa', 'fl_epp', fl_ltda

_______
### Others
*   **Irrelevant**:
>   fl_spa, fl_telefone

*   **I dont have a clue**: 
>   fl_st_especial, fl_matriz (CNPJ or not), fl_antt

# Drop or not drop?
### 2nd step...
After the initial feature analysis, we detected some duplicate features, for example:

*   'de_ramo', 'setor', 'nm_segmento'
*    fl_veiculo, vl_total_veiculos_pesados_grupo, vl_total_veiculos_leves_grupo

express similar ideas. Another option, is summarize them in a new feature.

Unnecessary = fl_spa, fl_rm, fl_matriz,fl_antt, 'fl_me', 'fl_mei', 'fl_sa', fl_telefone, 'fl_epp'

In [181]:
"""
duplicate_cols = ['de_ramo', 'nm_segmento', 'natureza_juridica_macro', 'idade_emp_cat']
unnecessary_cols = ['fl_spa', 'fl_rm', 'fl_matriz', 'fl_antt', 'fl_me', 'fl_mei', 'fl_sa', 'fl_telefone', 'fl_epp']

# Since I don't know if I already remove this columns, I will check if they exist on dataframes
duplicate_cols_pf1 = [col for col in pf1.columns.tolist() for dupli in duplicate_cols if col == dupli]
duplicate_cols_market = [col for col in market.columns.tolist() for dupli in duplicate_cols if col == dupli]

display(duplicate_cols_pf1)
display(duplicate_cols_market)
"""

"\nduplicate_cols = ['de_ramo', 'nm_segmento', 'natureza_juridica_macro', 'idade_emp_cat']\nunnecessary_cols = ['fl_spa', 'fl_rm', 'fl_matriz', 'fl_antt', 'fl_me', 'fl_mei', 'fl_sa', 'fl_telefone', 'fl_epp']\n\n# Since I don't know if I already remove this columns, I will check if they exist on dataframes\nduplicate_cols_pf1 = [col for col in pf1.columns.tolist() for dupli in duplicate_cols if col == dupli]\nduplicate_cols_market = [col for col in market.columns.tolist() for dupli in duplicate_cols if col == dupli]\n\ndisplay(duplicate_cols_pf1)\ndisplay(duplicate_cols_market)\n"

In [182]:
unnecessary_cols = ['fl_spa', 'fl_telefone']

# Since I don't know if I already remove this columns, I will check if they exist on dataframes
un_cols_pf1 = [col for col in pf1.columns.tolist() for dupli in unnecessary_cols if col == dupli]
un_cols_market = [col for col in market.columns.tolist() for dupli in unnecessary_cols if col == dupli]

print(un_cols_pf1)
print(un_cols_market)

['fl_telefone', 'fl_spa']
['fl_telefone', 'fl_spa']

In [183]:
# Drop unnecessary columns
pf1 = pf1.drop(un_cols_pf1, axis='columns')
market = market.drop(un_cols_market, axis='columns')

# Check amount of columns in each dataframe
print(f"""
    Columns in pf1: {pf1.shape[1]}, 
    Columns in market: {market.shape[1]}
    """)

    Columns in pf1: 49,
    Columns in market: 50

# Fill nan values

In [191]:
a, _ = missing_data(market)
a.sort_values(by='missing%', ascending=False)

                                         dtype  unique vals   missing%
qt_socios_masculino                    float64           41  57.794539
qt_socios_st_regular                   float64           54  33.510203
idade_minima_socios                    float64          114  32.793133
idade_media_socios                     float64         1010  32.793133
idade_maxima_socios                    float64          118  32.793133
empsetorcensitariofaixarendapopulacao  float64        15419  31.111750
qt_socios_pj                           float64           12  24.895414
qt_socios_pf                           float64           64  24.895414
qt_socios                              float64           62  24.895414
fl_optante_simples                      object            2  17.891706
fl_optante_simei                        object            2  17.891706
nm_meso_regiao                          object           19  12.697005
nm_micro_regiao                         object           73  12.697005
nu_meses_rescencia                     float64           51   9.793683
de_faixa_faturamento_estimado           object           12   5.951356
de_faixa_faturamento_estimado_grupo     object           11   5.951356
vl_faturamento_estimado_aux            float64         1920   5.951356
vl_faturamento_estimado_grupo_aux      float64         6794   5.951356
de_saude_rescencia                      object            5   3.212430
de_saude_tributaria                     object            6   3.212430
de_nivel_atividade                      object            4   2.415758
sg_uf_matriz                            object           27   0.419426
fl_passivel_iss                         object            2   0.416831
fl_simples_irregular                    object            2   0.416831
vl_total_veiculos_leves_grupo          float64          310   0.416831
vl_total_veiculos_pesados_grupo        float64          296   0.416831
fl_veiculo                              object            2   0.416831
fl_antt                                 object            2   0.416831
nm_segmento                             object           21   0.416831
nm_divisao                              object           87   0.416831
setor                                   object            5   0.416831
dt_situacao                             object         7334   0.001298